/* ================================= 
Common Css
================================= */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
:root {
  --body-color: #e8631c;
  --font-oswald: "Oswald", sans-serif;
  --bg-color: #303030;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 80px 0;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
/* This is header section start */
.navigation {
  background-color: var(--bg-color);
}
.nav__wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.nav__list,
.search {
  display: none;
}
#bar i {
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
  transition-duration: 0.3s;
}
#bar i:hover {
  color: var(--body-color);
}
.nav__logo a img {
  max-width: 70%;
}
/* This is slider section */
.slider {
  background-image: url(./../images/slide.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
.slider__content {
  padding: 100px 0;
  width: 80%;
}
.slider__content h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.slider__content p {
  line-height: 1.5;
  padding-bottom: 20px;
  text-align: justify;
}
.btn {
  background-color: var(--body-color);
  border: none;
  padding: 8px 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-oswald);
  letter-spacing: 2px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn:hover {
  background-color: var(--bg-color);
}
/* This is dance tour section  */
.dance {
  background-image: url(./../images/shape/black.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: var(--body-color);
}
.dance__wrapper {
  display: grid;
  grid-row-gap: 40px;
  padding-top: 40px;
}
.section__header {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.section__header h1 {
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 10px;
}
.section__header p {
  line-height: 1.3;
}
.dance__card {
  background-color: #303030;
  text-align: center;
}
.dance__card img {
  width: 100%;
}
.card__desc {
  padding: 15px;
}
.card__desc h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 5px;
}
/* This is pricing section */
.price {
  background-color: var(--bg-color);
  background-image: url(./../images/shape/white.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.price__wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 40px;
  margin-top: 60px;
}
.price__card {
  background-color: var(--body-color);
  padding: 60px 40px;
  display: grid;
  grid-row-gap: 25px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 5px;
}
.price__card h3 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
}
.price__card img {
  max-width: 50%;
}
.btn--bg-color {
  background-color: var(--bg-color);
  width: 100%;
}
/* This is  Statistics section  */
.statistics {
  background-color: var(--bg-color);
  border-top: 10px solid var(--body-color);
}
.statistic__wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  margin-top: 40px;
}
.statistic__option {
  text-align: center;
}
/* This is hear - bert section  */
.hearbert {
  background-image: url(./../images/hearbert.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.dearbert__desc,
.sub__desc {
  text-align: center;
}
.dearbert__desc p,
.sub__desc p {
  line-height: 1.5;
}
.dearbert__desc h1,
.sub__desc h1 {
  text-transform: uppercase;
  font-size: 2rem;
}
/* This is subscribe section  */
.subscribe {
  background-color: var(--body-color);
}
.sub__form {
  margin-top: 30px;
}
.sub__form form {
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-auto-flow: column;
  width: 100%;
}
.sub__form input[type="email"],
.sub__form input[type="button"] {
  border: none;
  outline: none;
  padding: 12px;
  color: var(--bg-color);
}
.sub__form input[type="button"] {
  background-color: var(--bg-color);
  font-family: var(--font-oswald);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ffffff;
}
